.detailscard-container {

    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    flex-grow: 1;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

}
.detailscard-container:hover {

    box-shadow: 0 0 11px rgba(33,33,33,.2);

}
.card-name {

    font-size: 15px;
      margin-bottom: 0;
    margin-bottom: 15px;


}


.card-value {

    font-size: 50px;
    font-weight: 800;
    margin: 0;
}